<div class="container">
  <div class="program-title">
      <h1>The Program</h1>
    </div>
  <div class="wrapper">
    <div id="about-content">
      <span class="accent">Innovation to Impact</span> is a NIDA-funded education program
      in product development and entrepreneurship hosted at <span class="accent">Yale University</span>.
      We run a <span class="accent">free 5-day bootcamp</span> for students, trainees (e.g postdoctoral fellows)
      and faculty who are curious about how business principles might help increase the reach of their research innovations.
      We recruit <span class="accent">substance abuse researchers</span> focused on basic science, epidemiology, prevention, treatment
      and policy. We are interested in <span class="accent">innovations</span> that can impact any aspect of the substance use field (e.g., pharmaceuticals,
      diagnostics, biomedical devices, app development, behavioral interventions). We are also interested in <span class="accent">scientists who may
      not have an innovation yet</span>, but would like to be prepared to act when one emerges from their work.
    </div>

    <ol>
      <li>
        <strong>5 day Bootcamp in Product Development and Entrepreneurship:</strong><br>
        Learn how to identify viable commercial products and efficiently take your product to market.<br><br>
      </li>
      <li>
        <strong>Post-Bootcamp Virtual Office Hours:</strong><br>
        Grow your idea by consulting an extensive network of mentors from industry, venture capital and academia.<br><br>
      </li>
      <li>
        <strong>Seed Funding:</strong><br>
        Take the first steps toward exploring commercial viability of your idea with one of our small grants.<br><br>
      </li>
      <li>
        <strong>Be a Venture Ambassador:</strong><br>
        With support from our team, learn to bring a culture of entrepreneurship to your department.<br><br>
      </li>
    </ol>
  </div>
</div>