#about {
    padding: 8%;
    text-align: center;
    color: #69696B;
}

#about > .description {
    text-align: justify;
}

#info {
    list-style: none;
    text-align: justify;
}

.info-heading {
    font-weight: bold;
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    #about {
        padding: 2% 15% 10%;
        font-size: 1.25em;
    }
}