/* Title */

#mc_embed_signup_scroll {
    text-align: center;
}

/* Select Field */

#mce-MMERGE3 {
    font-size: 1.25em;
}

/* Submit Button */

#mc-embedded-subscribe {
    background-color: #e85c41;
    -webkit-appearance: none;
}

#mc-embedded-subscribe:hover {
    background-color: #e85c41;
}
