.wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.menu-btn-container {
    display: flex;
    height: 10vh;
    justify-content: flex-end;
    background-color: #0F4D92;
    color: white;
    border-bottom: 1px solid grey;
    user-select: none;
}

#menu-btn {
    cursor: pointer;
    margin: 0.75vh 1vw 0 0;
    font-size: 48px;
}

.navigation {
    font-family: Arial;
    font-weight: bold;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    cursor: pointer;
    padding: 10px;
    text-align: center;
    background-color: #303030;
    color: white;
    border: 1px solid black;
}

.nav-links {
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .menu-btn-container {
        display: none;
    }

    #bullets {
        display: none;
    }
}