<div class="wrapper" *ngIf="!checkBrowser">
  <nav id="nav-desktop">
    <i id="menu-btn" class="material-icons" (click)="toggleNav()">menu</i>
    <div *ngFor="let section of sections" class="link clickable" (click)="scrollTo(section.id)">{{section.title}}</div>
  </nav>
  <nav id="nav-mobile" [hidden]="!displayNav">
    <div *ngFor="let section of sections" class="nav-link" (click)="scrollTo(section.id)">{{section.title}}</div>
  </nav>
  <main>
    <app-splash></app-splash>
    <app-about id="about"></app-about>
    <app-bullets id="bullets"></app-bullets>
    <app-team id="team"></app-team> 
  </main>
  <footer>
    <app-apply id="apply"></app-apply>
  </footer>
</div>

<div *ngIf="checkBrowser" class="browser-message">
    Please use Google Chrome, Mozilla Firefox, or Apple Safari.
</div>