<div class="container">
  <div class="wrapper">
    <div class="team-title">
      <h1>The Team</h1>
    </div>
    <div>
      <img class="team-img" src="../../assets/sf-sm.jpg" alt="">
      <br>
      <a href="psychiatry.yale.edu/people/seth_feuerstein.profile"><strong>Seth Feuerstein, MD, JD</strong></a><br>Program Director (PI)
    </div>
    <div>
      <img class="team-img" src="../../assets/ps-sm.jpg" alt="">
      <br>
      <a href="https://medicine.yale.edu/psychiatry/people/p_simon.profile"><strong>Patricia Simon, PhD</strong></a><br>Program Director
    </div>
    <div>
      <img class="team-img" src="../../assets/jm-sm.jpg" alt="">
      <br>
      <a href="http://ycmd.yale.edu/people/janie-merkel"><strong>Janie Merkel, PhD</strong></a><br>Significant Contributor
    </div>
    <div>
      <img class="team-img" src="../../assets/es-bg.jpg" alt="">
      <br>
      <a href="http://ocr.yale.edu/about-ocr/our-staff/erika-smith"><strong>Erika Smith, MBA</strong></a><br>Former Program Director
    </div>
  </div>
</div>