#team {
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 2.5fr 2.5fr 2.5fr;
    -ms-grid-rows: 1fr 2.5fr 2.5fr 2.5fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-areas: 
        "title title"
        "seth patricia"
        "erika janie"
        "rick joanne";
    padding: 7.5% 5%;
    color: #69696B;
    font-size: 0.9em;
}

#team-title {
    grid-area: title;
    text-align: center;

}

#seth {
    grid-area: seth;
}

#patricia {
    grid-area: patricia;
}

#erika {
    grid-area: erika;
}

#janie {
    grid-area: janie;
}

#rick {
    grid-area: rick;
}

#joanne {
    grid-area: joanne;
}

.team-img, .team-name, .team-role {
    text-align: center;
}

.team-img > img {
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    #team {
        grid-template-columns: repeat(3, 1fr);
        -ms-grid-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 2.5fr 2.5fr;
        -ms-grid-rows: 1fr 2.5fr 2.5fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        grid-template-areas: 
            "title title title"
            "seth patricia erika"
            "janie rick joanne";
        font-size: 1.05em;
    }
}
    