#bullets {
    display: flex;
    flex-direction: column;
    color: white;
}

#bullets > app-bullet {
    padding: 5% 5% 10%;
}

#bullets-first {
    background-color: #DD6E2D;
    grid-area: bullet-first;
}

#bullets-second {
    background-color: #D6AF23;
    grid-area: bullet-second;
}

#bullets-third {
    background-color: #99A843;
    grid-area: bullet-third;
}

#bullets-fourth {
    background-color: #16A093;
    grid-area: bullet-fourth;
}

#img-first {
    display: none;
    grid-area: img-first;
    background: url('../../assets/yale-lab.jpg') no-repeat center;
    background-size: cover;
}

#img-second {
    display: none;
    grid-area: img-second;
    background: url('../../assets/yale-buildings1.jpg') no-repeat center;
    background-size: cover;
}

#img-third {
    display: none;
    grid-area: img-third;
    background: url('../../assets/yale-buildings2.jpg') no-repeat center;
    background-size: cover;
}

#img-fourth {
    display: none;
    grid-area: img-fourth;
    background: url('../../assets/yale-campus.jpg') no-repeat center;
    background-size: cover;
}

@media screen and (min-width: 768px) {    
    #bullets {
        padding: 25px;
        background-color: grey;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
            "img-first bullet-first"
            "bullet-second img-second"
            "img-third bullet-third"
            "bullet-fourth img-fourth";
        font-size: 1.15em;
        grid-gap: 25px;
    }

    #img-first {
        display: block;
    }
    
    #img-second {
        display: block;
    }
    
    #img-third {
        display: block;
    }
    
    #img-fourth {
        display: block;
    }
}