<div class="bullet-container">
  <div class="bullet">
    <span class="bullet-title">5-DAY BOOTCAMP</span><br>
    <i>Learn how to identify viable commercial products and take products to market.</i>
  </div>
  <div class="bullet">
    <span class="bullet-title">POST-BOOTCAMP OFFICE HOURS</span><br>
    <i>Grow your idea by consulting an extensive network of mentors from industry, venture capital and academia.</i>
  </div>
  <div class="bullet">
    <span class="bullet-title">SEED FUNDING</span><br>
    <i>Explore commercial viability of your product with a small grant.</i>
  </div>
    <div class="bullet">
    <span class="bullet-title">BE A VENTURE AMBASSADOR</span><br>
   <i> With support from our team, learn to bring a culture of entrepreneurship to your department.</i>
  </div>
</div>