<div class="bullet-container blue-background">
  <div>
    <strong>5-day Bootcamp</strong><br>
    Learn how to identify viable commercial products and take products to market.
  </div>
</div>
<div class="bullet-container">
  <div>
    <strong>Post-Bootcamp Office Hours</strong><br>
    Grow your idea by consulting an extensive network of mentors from industry, venture capital and academia.
  </div>
</div>
<div class="bullet-container blue-background">
  <div>
    <strong>Seed Funding</strong><br>
    Explore commercial viability of your product with a small grant.
  </div>
</div>
<div class="bullet-container">
  <div>
    <strong>Be a Venture Ambassador</strong><br>
    With support from our team, learn to bring a culture of entrepreneurship to your department.
  </div>
</div>