<footer id="links">
  <div id="mailing=list">Apply Soon!</div>
  <div id="link-title"><h3>CONNECT WITH US:</h3></div>
  <div class="social-container" [title]="socialMedia['Twitter']" (click)="openPage('Twitter')">
    <div class="social-logo"><img src="../assets/twitter-logo.png"></div>
    <div class="social-name">Twitter</div>
  </div>
  <div class="social-container" [title]="socialMedia['Facebook']" (click)="openPage('Facebook')">
      <div class="social-logo"><img src="../assets/fb-logo.png"></div>
      <div class="social-name">Facebook</div>
  </div>
</footer>